.cards {
  width: 1110px;
  height: 412px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 160px;
  gap: 30px;
}
.card_title_one {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
.card_text_one {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}
.card_img {
  margin: 0 auto;
}
.card_title_two {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
.card_text_two {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}

.card_title_three {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 5px;
  color: #333136;
}
.card_text_three {
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333136;
}

@media screen and (max-width: 768px) {
  .cards {
    width: 690px;
    height: 770px;
    margin: 0 auto;
    display: block;
    padding-top: 160px;
    gap: 30px;
  }
  .card_one {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 689px;
    height: 202px;
  }
  .card_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 690px;
    height: 202px;
  }
  .card_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 669px;
    height: 202px;
  }
  .text_res {
    width: 439px;
    height: 120px;
    margin: 0 auto;
  }
  .card_title_one {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_one {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #333136;
  }
  // .card_img {
  //   margin: 0 auto;
  // }
  .card_title_two {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_two {
    text-align: center;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-align: left;
    color: #333136;
  }
 
  .card_title_three {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_three {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #333136;
  }
}

@media screen and (max-width: 375px) {
  .cards {
    width: 327px;
    height: 1396px;
    margin: 0 auto;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 160px;
    gap: 30px;
  }
  .card_one {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 327px;
    height: 412px;
  }
  .card_two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 327px;
    height: 412px;
  }
  .card_three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 327px;
    height: 412px;
  }
  .text_res {
    width: 327px;
    height: 162px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .card_title_one {
    margin-left: 50px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_one {
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #333136;
  }
  .card_img {
    margin: 0 auto;
    margin-left: 27.9%;
  }
  .card_title_two {
    margin-left: 50px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_two {
    text-align: center;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #333136;
  }

  .card_title_three {
    margin-left: 50px;
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 5px;
    color: #333136;
  }
  .card_text_three {
    
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333136;
  }
}
